@import 'settings';

/*
**
** outline
** header
** gnav
** footer
** pagetop
** main common
** top
** about
**
*/

/*==================================================

** outline
==================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: $color-txt;
  font-family: $font-jp; /* 基本のfont-familyを指定する */
  font-weight: 300; /* 基本のfont-weightを指定する */
  position: relative;
  left: 0;
  //transition: left 0.2s ease-out;
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  //max-width: calc(1000px + 20px + 20px);
  margin: 0 auto;
  padding: 0 1rem;
}

/*==================================================

** header
==================================================*/
.header {
  width: 100%;
  height: $header-height;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;

    &__left {
      padding-left: 1rem;
      margin-top: 1.5rem;
      letter-spacing: 0;
    }

    &__txt {
      font-size: 10px;
      font-weight: normal;
    }
    &__logo {
      width: 9rem;
      margin-top: 1rem;
    }

    &__right {
      width: 6.5rem;
      height: 100%;
      background-color: #da6b64;
      display: flex;
      justify-content: center;
    }

    &__contact-sp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__contact-icon {
      order: 0;
      width: 25px;
      position: relative;
      top: -5px;
    }

    &__contact-txt {
      display: inline-block;
      order: 1;
      font-size: 1.2rem;
      color: $color-white;
      position: relative;
      top: -6px;
    }

    &__contact-pc {
      display: none;
    }
  }

  .menu-btn {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: $header-height-sp;
    // height: $header-height-sp;
    // position: absolute;
    // top: 0;
    // right: 0;
    // cursor: pointer;
    // background-color: rgba(#ff0000, 0.2);
  }
}

@include media(min, sm) {
  .header {
    .header-inner {
      padding: 2rem 1rem;
    }
    .header-inner__right {
      width: 26rem;
      height: 4.5rem;
      align-items: center;
      border-radius: 25px;
      margin-right: 1rem;
    }
    .header-inner__contact-sp {
      display: none;
    }
    .header-inner__contact-pc {
      display: block;
    }

    .header-inner__left {
      padding: 0;
      margin-top: 0;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: center;
    }
    .header-inner__txt {
      display: inline;
      font-weight: 600;

      position: relative;
      top: 12px;
      left: 6px;
    }
    .header-inner__logo {
      width: 13rem;
    }
  }
}


/*==================================================

** footer
==================================================*/
.footer {
  width: 100%;
  height: $footer-height;
  //margin-top: 3rem;

  background-color: rgba($color-gray, 0.3);

  .footer-inner {
    width: 350px;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 3rem;
  }

  .footer-txt {
    text-align: center;
    font-size: 8px;
    font-weight: 500;
    color: $color-black;
  }
  .footer__span {
    color: $color-lightblue;
  }
  .fb-like {
    margin: 1rem 0 0 8rem;
    + * {
      margin-top: 2rem;
    }
  }
}

@include media(min, sm) {
  .footer {
    .footer-txt {
      color: rgba($color-black, 0.5);
    }
  }
}

/*==================================================

** pagetop
==================================================*/
.pagetop {
  width: 50px;
  height: 50px;
  background-color: rgba($color-gray, 0.4);
  position: fixed;
  bottom: 25px;
  right: 15px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $color-white;
    font-size: 3rem;
    line-height: 1.6;
    transition: background-color 0.2s ease-out;

    @include hover {
      background-color: rgba($color-black, 0.9);
    }
  }
}

// @include media(min, xs) {
// }

/*==================================================

** main common
==================================================*/
.main {
  p {
    font-size: 1.6rem;
    line-height: 1.8;
  }

  .text-l {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8;
  }

  .text-s {
    font-size: 1.6rem;
    color: $color-white;
    line-height: 1.6;
  }

  ul {
    margin-top: 3.2rem;

    li {
      font-size: 1.6rem;
      line-height: 1.8;
      padding-left: 1em;
      position: relative;

      &::before {
        content: '\f105';
        font-family: 'FontAwesome';
        //color: $color-lightblue;
        position: absolute;
        top: 0;
        left: 0;
      }

      + li {
        margin-top: 0.625em;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    //color: $color-lightblue;
    letter-spacing: 0.05em;
    line-height: 1.6;
    font-weight: 600;
  }
}

/*==================================================

** top-section
==================================================*/
.top-section {
  width: 100%;
  height: 500px;
  background-image: url('../images/mainsp.jpg');
  z-index: 0;
  margin-top: 34px;
}

/*==================================================

** iSara-discription
==================================================*/

.isara-discription {
  width: 100%;
  height: auto;
  background-color: $color-yellow;
}

/*==================================================

** question
==================================================*/
.question {
  width: 100%;
  height: auto;
  background-image: url('../images/introbottom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/*==================================================

** about
==================================================*/

.about {
  width: 100%;
  height: auto;
  background-color: #fef5e0;
}

/*==================================================

** about-teaching
==================================================*/
.about-teaching {
  background-image: url('../images/aboutsecondbgsp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*==================================================

** about-teaching__container
==================================================*/

.about-teaching__container {
  background-color: #016ea9;
}

/*==================================================

** about-study
==================================================*/
.about-study {
  width: 100%;
  height: auto;
}

/*==================================================

** isara-merit
==================================================*/
.isara-merit {
  width: 100%;
  height: auto;
}

/*==================================================

** team-member
==================================================*/
.team-member {
  width: 100%;
  height: auto;
  background-image: url('../images/teacherbgsp.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

/*==================================================

** question-ans
==================================================*/
.question-ans {
  width: 100%;
  height: auto;

  .circle {
    background-color: $color-yellow;
  }
  .title-wrap {
    background-color: $color-yellow;
  }
}

/*==================================================

** isara-service
==================================================*/
.isara-service {
  width: 100%;
  height: auto;
  background-image: url('../images/classbgsp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*==================================================

** isara-contents
==================================================*/
.isara-contents {
  width: 100%;
  height: auto;
}

/*==================================================

** about-bankok
==================================================*/
.about-bankok {
  width: 100%;
  height: auto;
  background-image: url('../images/bangkokbgsp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*==================================================

** isara-benefit
==================================================*/

.isara-benefit {
  width: 100%;
  height: auto;
  background-color: $color-yellow;
}

/*==================================================

** no-borantia
==================================================*/

.no-borantia {
  width: 100%;
  height: auto;
  background-image: url('../images/specialdetailsp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*==================================================

** founder-message
==================================================*/
.founder-message {
  width: 100%;
  height: auto;
}

/*==================================================

** contact-form
==================================================*/
.contact-form {
  width: 100%;
  height: auto;
  background-color: $color-yellow;
}

/*==================================================

** other-question
==================================================*/
.other-question {
  width: 100%;
  height: auto;
}

//////////////////////////////////////////////////
// ** Mixin
//
@mixin media($type, $bp1, $bp2: 0) {
  @if ($type == min) {
    @media screen and (min-width: #{map-get($breakpoints, $bp1)}) {
      @content;
    }
  } @else if ($type == max) {
    @media screen and (max-width: #{map-get($breakpoints, $bp1)}) {
      @content;
    }
  } @else if ($type == between) {
    @media screen and (min-width: #{map-get($breakpoints, $bp1)}) and (max-width: #{map-get($breakpoints, $bp2)}) {
      @content;
    }
  }
}
