@import 'settings';

/*
**
** outline
** header
** gnav
** footer
** pagetop
** main common
** top
** about
**
*/



/*==================================================

** outline
==================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  //min-height: -webkit-fill-available;
  //color: $color-txt;
  //font-family: $font-jp; /* 基本のfont-familyを指定する */
  //font-weight: 300; /* 基本のfont-weightを指定する */
  position: relative;
  left: 0;
  //-webkit-text-size-adjust: 100%;
  //transition: left 0.2s ease-out;

  // &.is-open-gnav {
  //   left: -$gnav-width-sp;
  // }
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  //max-width: calc(1000px + 20px + 20px);
  margin: 0 auto;
  padding: 0 2rem;
}

/*==================================================

** header
==================================================*/
.header {
  width: 100%;
  height: $header-height-sp;
  position: fixed;
  top: 0;
  //left: 0;
  z-index: 1;

  .header-top {
    background-color: $color-main;
    height: $header-height-sp;
  }

  .header-top__inner {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // height: 100%;
    // position: relative;
  }

  .header-top__logo {
    //max-width: 200px;
  }

  .header-top__text {
    display: none;
  }

  .menu-btn {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: $header-height-sp;
    // height: $header-height-sp;
    // position: absolute;
    // top: 0;
    // right: 0;
    // cursor: pointer;
    // background-color: rgba(#ff0000, 0.2);
  }

  .menu-btn__bar {
    // display: block;
    // width: 20px;
    // height: 2px;
    // background-color: $color-white;
    // transition-property: transform, opacity, margin;
    // transition-duration: 0.2s;
    // transition-timing-function: ease-out;

    // &:nth-child(2) {
    //   margin-top: 5px;
    // }
    // &:nth-child(3) {
    //   margin-top: 5px;
    // }

    // .is-open-gnav & {
    //   &:nth-child(1) {
    //     transform: rotate(45deg);
    //   }
    //   &:nth-child(2) {
    //     opacity: 0;
    //     margin-top: -2px;
    //   }
    //   &:nth-child(3) {
    //     transform: rotate(-45deg);
    //     margin-top: -2px;
    //   }
    // }
  }
}

//@include media(min, md) {
.header {
  .header-top {
    //height: 60px;
  }

  .header-top__inner {
    //justify-content: center;
  }

  .menu-btn {
    //display: none;
  }

  .menu-btn__bar {
    //display: none;
  }

  .header-top__text {
    // display: inline;
    // margin: auto;
    // color: $color-white;
    // font-size: 2.2rem;
    // text-transform: uppercase;
    // line-height: 1.6;
    // font-family: $font-en;
  }
}
//}

/*==================================================

** gnav
==================================================*/
.gnav {
  // background-color: $color-gnav;
  // color: $color-white;
  // height: 100vh;
  // width: $gnav-width-sp;
  // position: fixed;
  // top: 0;
  // right: -$gnav-width-sp;
  // z-index: 2;
  // transition: right 0.2s ease-out;

  // .is-open-gnav & {
  //   right: 0;
  // }

  // .wrap {
  //   padding: 0;
  // }

  // .gnav__list {
  //   width: 100%;
  //   height: 100%;
  //   padding-top: 2rem;
  //   color: $color-white;
  //   text-align: left;
  //   display: flex;
  //   flex-direction: column;
  // }

  // .gnav__item {
  //   font-size: 1.4rem;
  //   font-weight: 700;
  //   font-family: $font-en;
  //   letter-spacing: 0.05em;
  //   border-bottom: 1px solid $color-black;
  //   text-transform: uppercase;

  //   a {
  //     display: block;
  //     text-decoration: none;
  //     padding: 1.036em 2rem;
  //     width: 100%;
  //     height: 100%;

  //     @include hover {
  //       background-color: $color-black;
  //     }
  //   }
  // }
}

// @include media(min, md) {
//   .gnav {
//     width: 100%;
//     height: 44px;
//     position: static;

//     .wrap {
//       padding: 0 20px;
//     }

//     .gnav__list {
//       height: 100%;
//       padding-top: 0;
//       justify-content: space-around;
//       flex-direction: row;
//       text-align: center;
//     }

//     .gnav__item {
//       //width: 20%;
//       width: calc(100% / 5);
//       font-size: 1.4rem;
//       font-family: $font-en;
//       border-bottom: none;

//       a {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 1.45rem 2rem;
//         //padding: 0 2rem;
//       }
//     }
//   }
// }

/*==================================================

** footer
==================================================*/
// .footer {
//   width: 100%;
//   margin-top: 7.6rem;
//   padding: 27px 0;
//   background-color: $color-gnav;

//   .footer-inner {
//     color: #bbb;
//     font-size: 1.2rem;
//   }

//   .copyright {
//     text-align: center;
//   }
// }

/*==================================================

** pagetop
==================================================*/
// .pagetop {
//   width: 50px;
//   height: 50px;
//   background-color: rgba($color-btn, 0.9);
//   position: fixed;
//   bottom: 82px;
//   right: 20px;

//   a {
//     display: block;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     color: $color-white;
//     font-size: 3rem;
//     line-height: 1.6;
//     transition: background-color 0.2s ease-out;

//     @include hover {
//       background-color: rgba($color-btn-hover, 0.9);
//     }
//   }
// }

// @include media(min, xs) {
// }

/*==================================================

** main common
==================================================*/
.main {
  margin-top: $header-height-sp;
  padding-top: 5rem;
  // margin-top: calc(#{$header-height-sp} + 4.5rem);
  // margin-top: 12.4rem;

  p {
    font-size: 1.6rem;
    line-height: 1.8;

    + p {
      margin-top: 1em;
    }
  }

  .text-l {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8;
  }

  .text-s {
    font-size: 1.4rem;
    color: $color-gray;
    line-height: 1.6;
  }

  ul {
    margin-top: 3.2rem;

    li {
      font-size: 1.6rem;
      line-height: 1.8;
      padding-left: 1em;
      position: relative;

      &::before {
        content: '\f105';
        font-family: 'FontAwesome';
        //color: $color-lightblue;
        position: absolute;
        top: 0;
        left: 0;
      }

      + li {
        margin-top: 0.625em;
      }
    }
  }

  // table {
  //   width: 100%;
  //   margin-top: 3.5rem;

  //   tr {
  //     border-bottom: 1px solid $color-border;

  //     &:first-child {
  //       border-top: 1px solid $color-border;
  //     }
  //   }
  //   th,
  //   td {
  //     display: block;
  //     text-align: left;
  //     font-size: 1.6rem;
  //     line-height: 1.8;
  //   }
  //   th {
  //     padding-top: 2rem;
  //     font-weight: 600;
  //   }
  //   td {
  //     padding-top: 1.5rem;
  //     padding-bottom: 2rem;
  //   }
  // }

  h2,
  h3,
  h4,
  h5,
  h6 {
    //color: $color-lightblue;
    letter-spacing: 0.05em;
    line-height: 1.6;
    font-weight: 600;
  }

  .pagettl {
  }
  .pagettl__text {
    // font-family: $font-en;
    // font-size: 3.2rem;
    // color: $color-black;
    // font-weight: 700;
    // line-height: 1.6;
    // letter-spacing: 0.05em;
    // margin: auto;
    // text-align: center;
    // text-transform: uppercase;

    // &::after {
    //   content: '';
    //   display: block;
    //   width: 6rem;
    //   height: 0.4rem;
    //   background-color: $color-main;
    //   margin: 1.8rem auto 0;
    // }
  }

  // .section-title-en {
  //   font-size: 3rem;
  // }

  .btn {
    // font-size: 1.6rem;
    // font-family: $font-en;
    // font-weight: 600;
    // text-transform: uppercase;
    // color: $color-white;
    // max-width: 360px;
    // margin: 0 auto;
    // background-color: $color-btn;
    // text-align: center;
    // line-height: 1.6;
    // margin-top: 5rem;
    // border-radius: 3px;
    // box-shadow: 0 2px 4px 0 rgba(#000000, 0.2);

    // a {
    //   display: block;
    //   padding: 0.844em 1em;
    //   text-decoration: none;
    //   width: 100%;
    //   height: 100%;
    //   transition-property: background-color, box-shadow;
    //   transition-duration: 0.2s;
    //   transition-timing-function: ease-out;

    //   @include hover {
    //     background-color: $color-btn-hover;
    //     box-shadow: 0 8px 12px 0 rgba(#000000, 0.2);
    //   }
    // }
  }
} // main
// all

// @include media(min, xs) {
//   .main {
//     // margin-top: calc(#{$header-height-sp} + 4.2rem);

//     .pagettl__text {
//       font-size: 4.3rem;
//       &::after {
//         width: 8rem;
//         margin-top: 1.2rem;
//       }
//     } // main

//     h2 {
//       font-size: 2.8rem;
//     }
//     h3 {
//       font-size: 2.2rem;
//       margin-top: 5rem;
//     }
//     h4 {
//       margin-top: 3.8rem;
//     }
//     h5 {
//       margin-top: 3.2rem;
//     }
//     h6 {
//       margin-top: 2.5rem;

//       + * {
//         margin-top: 1rem;
//       }
//     }

//     table {
//       tr {
//         border-bottom: 1px solid $color-border;

//         &:first-child {
//           border-top: 1px solid $color-border;
//         }
//       }
//       th,
//       td {
//         vertical-align: top;
//         display: table-cell;
//         text-align: left;
//         padding-top: 2rem;
//         padding-bottom: 2rem;
//       }
//       th {
//         width: 250px;
//       }
//       td {
//         padding-left: 1.5em;
//       }
//     }

//     .btn {
//       max-width: 240px;
//     }
//   } // media(min, xs)
// }

// @include media(min, md) {
//   .main {
//     margin-top: 110px;
//     padding-top: 6rem;
//     // margin-top: calc(110px + 6rem);

//     .pagettl__text {
//       font-size: 5.2rem;
//       &::after {
//         width: 8rem;
//         margin-top: 0.6rem;
//       }
//     } // main

//     h2 {
//       margin-top: 9rem;
//     }
//     h3 {
//       margin-top: 6.8rem;

//       + * {
//         margin-top: 2.5rem;
//       }
//     }
//     h4 {
//       margin-top: 5rem;
//       + * {
//         margin-top: 1.2rem;
//       }
//     }
//     h6 {
//       margin-top: 2.8rem;
//     }
//   } // main
// } // media(min, md)

//////////////////////////////////////////////////
// ** Mixin
//
@mixin media($type, $bp1, $bp2: 0) {
  @if ($type == min) {
    @media screen and (min-width: #{map-get($breakpoints, $bp1)}) {
      @content;
    }
  } @else if ($type == max) {
    @media screen and (max-width: #{map-get($breakpoints, $bp1)}) {
      @content;
    }
  } @else if ($type == between) {
    @media screen and (min-width: #{map-get($breakpoints, $bp1)}) and (max-width: #{map-get($breakpoints, $bp2)}) {
      @content;
    }
  }
}
